body {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  gap: 20px;
  div {
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
    border: 1px solid red;
    padding: 10px;
    border-radius: 10px;
    ul {
      display: flex;
      flex-flow: column nowrap;
      list-style: none;
      text-align: start;
      li {
        color: red;
      }
    }
  }
  form {
    display: flex;
    flex-flow: column nowrap;
    max-width: 300px;
    width: 100%;
    height: auto;
    padding: 20px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: 1px solid aqua;
    border-radius: 20px;
    a {
      text-decoration: none;
      color: aqua;
      font-weight: bold;
      transition: 0.5s;
      &:hover {
        color: rgb(1, 136, 182);
      }
    }
    section {
      display: flex;
      flex-flow: column nowrap;
      width: 90%;
      gap: 5px;
    }
    button {
      padding: 10px;
      border-radius: 10px;
      border: none;
      background-color: aqua;
      cursor: pointer;
      color: white;
      font-weight: bold;
      transition: 0.5s;
      &:hover {
        background-color: rgb(1, 136, 182);
      }
    }
  }
}
