@import "globalfonts";
@import "globalVariables";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Red Hat Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
}

body {
  #testimonio-pepon{
    text-align: center;
  }
  .errorMsg {
    color: red;
    font-weight: bold;
    border: 1px solid red;
    padding: 10px;
  }
}

footer {
    width: 100%;
    /* Fondo con el color de fuente oscuro y texto blanco */
    background-color: var(--secondary-color); 
    color: var(--primary-color); 
    padding: 20px 0;
    margin-top: 50px;
    text-align: center;
    box-sizing: border-box;
    position: relative;
}