@import "globalfonts";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Red Hat Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
}

body {
  .errorMsg {
    color: red;
    font-weight: bold;
    border: 1px solid red;
    padding: 10px;
  }
}