@import "globalVariables";

header {
  display: flex;
  background-color: var(--ternary-color);
  img {
    object-fit: cover;
  }
  nav {
    ul {
      li {
        -webkit-text-stroke-width: 0.2px;
        -webkit-text-stroke-color: white;
        color: var(--primary-color);
        cursor: pointer;
        transition-duration: 0.5s;
        font-weight: bold;
        font-size: 1rem;
      }
    }
  }
  .desktop-menu {
    display: flex;
    ul {
      display: flex;
      list-style: none;
      text-align: start;
      li {
        display: flex;
        &:hover {
          background-color: var(--secondary-color);
        }
      }
    }
  }
}

@media (width < 680px) {
  header {
    position: fixed;
    bottom: 2%;
    left: 2%;
    height: 3em;
    width: 3em;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background-color: white;
    img {
      display: none;
    }
    .desktop-menu {
      display: none;
    }
    #mobile-menu {
      height: 100vh;
      width: 100vw;
      display: none;
      position: fixed;
      top: 0;
      right: 100%;
      transition-duration: 0.3s;
      transition: right 0.3s ease-in-out;
      background-color: var(--ternary-color);
      ul {
        display: flex;
        flex-flow: column nowrap;
        justify-content: end;
        padding: {
          left: 1em;
          bottom: 4em;
        }
        list-style: none;
        li {
          font-size: 1.5rem;
        }
      }
    }
    #mobile-menu-btn {
      all: unset;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      height: 100%;
      width: 100%;
      bottom: 0;
      border-radius: 50%;
      background-color: var(--secondary-color);
      color: white;
      z-index: 1000;
    }
  }
}
@media (680px <= width < 800px) {
  header {
    width: 100%;
    justify-content: space-between;
    padding: {
      right: 0.25rem;
      left: 0.25rem;
    }
    #mobile-menu {
      display: none;
    }
    #mobile-menu-btn {
      display: none;
    }
    .desktop-menu {
      ul {
        align-items: center;
        flex-flow: row nowrap;
        gap: 3px;
        li {
          align-items: center;
          height: 100%;
          padding: 0.25rem 0.5rem;
          border: 1px solid transparent;
          border-radius: 15px 15px 0 0;
          font-size: 0.9rem;
        }
      }
    }
  }
}
@media (width >= 800px) {
  header {
    width: 100%;
    justify-content: space-between;
    padding: {
      right: 1rem;
      left: 1rem;
    }
    #mobile-menu {
      display: none;
    }
    #mobile-menu-btn {
      display: none;
    }
    .desktop-menu {
      ul {
        align-items: center;
        flex-flow: row nowrap;
        gap: 5px;
        li {
          align-items: center;
          height: 100%;
          padding: 0.5rem 1rem;
          border: 1px solid transparent;
          border-radius: 15px 15px 0 0;
        }
      }
    }
  }
}
