/* --------Titulo del formulario------ */
.container-form__title {
    text-align: center;
    width: 100%;
    margin: 18px 0 12px;
    font-size: 1.4rem;
    color: #222;
}

/* ----------Section Formulario--------- */
.container-form {
    width: min(40rem, 100%);
    margin: 0 auto;
}

/* ---------------Contenedor del formulario-------------------- */
.container-form__form {
    background-color: #f3f3f3;
    padding: 2rem;
    border-radius: 1.2rem;
    box-shadow: 1px 1px 7px 0px rgba(0, 0, 0, 0.5);
}

.container-form__campo {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: .5rem;
    resize: none;
    border: none;
    box-sizing: border-box;
    /* Importante para que el padding no añada ancho extra */
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.container-form__campo:focus {
    /* 1. Cambio de borde: Resalta el campo con un color (ej. azul) */
    border-color: #007bff;

    /* 2. Sombra sutil: Añade un "brillo" para hacerlo notar (box-shadow) */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);

    /* 3. Asegúrate de quitar el borde predeterminado del navegador */
    outline: none;
}

.container-form__div label {
    font-weight: 700;
    display: block;
}


/* ----------------Estilos del boton------------- */
.container-form__submit {
    grid-row: 4/5;
    grid-column: 1/3;
    margin-top: 15px;
}

.alinear-derecha {
    display: flex;
    justify-content: flex-end;
}

.container-form__submit button {
    font-size: 1.2rem;
    padding: 0 1.5rem;
    margin-right: 0;
    transition: background-color 0.3s ease, transform 0.3s ease;
    background-color: #007bff;
    border: none;
    color: #fff;
    border-radius: .2rem;
    cursor: pointer;
    width: auto;
}


.container-form__submit button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* --------------------Media Query-------------------- */
@media(min-width: 768px) {
    .container-form__form {
        display: grid;
        margin: .5rem;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        gap: 1rem;
    }

    .container-form__div:nth-child(3) {
        grid-row: 2/3;
        grid-column: 1/3;
    }

    .container-form__div:nth-child(4) {
        grid-column: 1/3;
    }

    .container-form__div textarea {
        padding: 1rem 0 4rem 1rem;
    }
}

@media(max-width: 690px) {
    .container-form {
        width: 32rem;
    }
}

@media(max-width: 480px) {
    .container-form {
        width: 25rem;
    }
}

@media(max-width: 378px) {
    .container-form {
        width: 22rem;
    }
}

@media(max-width: 344px) {
    .container-form {
        width: 20rem;
    }
}