body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  width: 100%;
  min-height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  text-align: center;
  border: 1px solid red;
  padding: 10px;
  border-radius: 10px;
}
body div ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  list-style: none;
}
body div ul li {
  color: red;
}
body form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  max-width: 300px;
  width: 100%;
  height: auto;
  padding: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  border: 1px solid aqua;
  border-radius: 20px;
}
body form a {
  text-decoration: none;
  color: aqua;
  font-weight: bold;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
body form a:hover {
  color: rgb(1, 136, 182);
}
body form section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  width: 90%;
  gap: 5px;
}
body form button {
  padding: 10px;
  border-radius: 10px;
  border: none;
  background-color: aqua;
  cursor: pointer;
  color: white;
  font-weight: bold;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
body form button:hover {
  background-color: rgb(1, 136, 182);
}