@import url("https://fonts.googleapis.com/css2?family=Momo+Trust+Display&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");
:root {
  --primary-color: orange;
  --secondary-color: #3d4295;
  --ternary-color: #5c61e1;
  --font-color: #333333;
  --blank-color: #ffffff;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Red Hat Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
}

html {
  height: 100%;
}

body {
  min-height: 100vh;
}
body #testimonio-pepon {
  text-align: center;
}
body .errorMsg {
  color: red;
  font-weight: bold;
  border: 1px solid red;
  padding: 10px;
}

footer {
  width: 100%;
  /* Fondo con el color de fuente oscuro y texto blanco */
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding: 20px 0;
  margin-top: 50px;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}