@charset "UTF-8";
:root {
  --primary-color: orange;
  --secondary-color: #3d4295;
  --ternary-color: #5c61e1;
  --font-color: #333333;
  --blank-color: #ffffff;
}

header {
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: sticky;
  top: 0;
  background-color: var(--ternary-color);
}
header img {
  -o-object-fit: cover;
     object-fit: cover;
}
header nav ul li {
  color: var(--blank-color);
  cursor: pointer;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  font-weight: bold;
  font-size: 1rem;
}
header .desktop-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
header .desktop-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  text-align: start;
}
header .desktop-menu ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
header .desktop-menu ul li:hover {
  background-color: var(--secondary-color);
}

@media (width < 680px) {
  header {
    position: fixed;
    top: auto;
    bottom: 2%;
    left: 2%;
    height: 3em;
    width: 3em;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: transparent;
  }
  header img {
    display: none;
  }
  header .desktop-menu {
    display: none;
  }
  header #mobile-menu {
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
    height: 100vh;
    width: 100vw;
    display: none;
    position: fixed;
    top: 0;
    right: 100%;
    transition-duration: 0.3s;
    -webkit-transition: right 0.3s ease-in-out;
    transition: right 0.3s ease-in-out;
    background-color: var(--ternary-color);
    z-index: 999;
  }
  header #mobile-menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    padding-left: 1.2em;
    padding-bottom: 5.5em;
    list-style: none;
    gap: 10px;
  }
  header #mobile-menu ul li {
    font-size: 1.5rem;
  }
  header #mobile-menu ul li:hover {
    background-color: var(--secondary-color);
    border-radius: 1px;
  }
  header #mobile-menu-btn {
    all: unset;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%;
    width: 100%;
    top: 100%;
    border-radius: 50%;
    background-color: var(--secondary-color);
    border: 1px solid var(--primary-color);
    color: white;
    z-index: 1000;
    opacity: 0.7;
  }
}
@media (width >= 680px) {
  header {
    /* Asegúrate de quitar justify-content: space-between; de aquí si existe en tu versión de 680px */
    width: 100%;
    /* Añade el estilo para el nuevo wrapper en estas vistas */
    /* Quita los padding de header si los moviste al wrapper */
    padding: 0;
  }
  header #desktop-navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; /* Alineación vertical */
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    /* Define el ANCHO MÁXIMO del contenido y céntralo */
    max-width: 1200px; /* VALOR RECOMENDADO: Puedes ajustarlo (ej. 1000px, 1400px) */
    margin: 0 auto; /* Centra el contenedor interno */
    /* Mueve el padding aquí para que solo se aplique dentro del max-width */
    padding: 0.25rem 0.5rem;
  }
}
@media (680px <= width < 800px) {
  header {
    -webkit-box-shadow: 0px 8px 6px -6px #333;
            box-shadow: 0px 8px 6px -6px #333;
    position: sticky;
    top: 0;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-right: 0.25rem;
    padding-left: 0.25rem;
  }
  header #mobile-menu {
    display: none;
  }
  header #mobile-menu-btn {
    display: none;
    opacity: 0.7;
  }
  header #desktop-navbar .desktop-menu ul {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    gap: 3px;
  }
  header #desktop-navbar .desktop-menu ul li {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    padding: 0.1rem 0.25rem;
    border: 1px solid transparent;
    border-radius: 5px 5px 0 0;
    font-size: 0.55em;
  }
}
@media (width >= 800px) {
  header {
    position: sticky;
    top: 0;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  header #mobile-menu {
    display: none;
  }
  header #mobile-menu-btn {
    display: none;
  }
  header #desktop-navbar .desktop-menu ul {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    gap: 5px;
  }
  header #desktop-navbar .desktop-menu ul li {
    font-size: 0.72rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    padding: 0.2rem 0.25rem;
    border: 1px solid transparent;
    border-radius: 5px 5px 5px 5px;
  }
}
@media (width >= 890px) {
  header {
    -webkit-box-shadow: 0px 8px 6px -6px #333;
            box-shadow: 0px 8px 6px -6px #333;
  }
  header #desktop-navbar .desktop-menu ul li {
    font-size: 0.9rem;
    height: 100%;
    padding: 0.1rem 0.2rem;
  }
}