:root {
  --primary-color: orange;
  --secondary-color: #3d4295;
  --ternary-color: #5c61e1;
  --font-color: #333333;
  --background-color: #ffffff;
}

header {
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: var(--ternary-color);
}
header img {
  -o-object-fit: cover;
     object-fit: cover;
}
header nav ul li {
  -webkit-text-stroke-width: 0.2px;
  -webkit-text-stroke-color: white;
  color: var(--primary-color);
  cursor: pointer;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  font-weight: bold;
  font-size: 1rem;
}
header .desktop-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
header .desktop-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  text-align: start;
}
header .desktop-menu ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
header .desktop-menu ul li:hover {
  background-color: var(--secondary-color);
}

@media (width < 680px) {
  header {
    position: fixed;
    bottom: 2%;
    left: 2%;
    height: 3em;
    width: 3em;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: white;
  }
  header img {
    display: none;
  }
  header .desktop-menu {
    display: none;
  }
  header #mobile-menu {
    height: 100vh;
    width: 100vw;
    display: none;
    position: fixed;
    top: 0;
    right: 100%;
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
    -webkit-transition: right 0.3s ease-in-out;
    transition: right 0.3s ease-in-out;
    background-color: var(--ternary-color);
    z-index: 999;
  }
  header #mobile-menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    padding-left: 1em;
    padding-bottom: 4em;
    list-style: none;
    gap: 10px;
  }
  header #mobile-menu ul li {
    font-size: 1.5rem;
  }
  header #mobile-menu ul li:hover {
    background-color: var(--secondary-color);
    border-radius: 5px;
  }
  header #mobile-menu-btn {
    all: unset;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    height: 100%;
    width: 100%;
    bottom: 0;
    border-radius: 50%;
    background-color: var(--secondary-color);
    color: white;
    z-index: 1000;
  }
}
@media (680px <= width < 800px) {
  header {
    position: sticky;
    bottom: 100%;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-right: 0.25rem;
    padding-left: 0.25rem;
  }
  header #mobile-menu {
    display: none;
  }
  header #mobile-menu-btn {
    display: none;
  }
  header .desktop-menu ul {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    gap: 3px;
  }
  header .desktop-menu ul li {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    padding: 0.25rem 0.5rem;
    border: 1px solid transparent;
    border-radius: 15px 15px 0 0;
    font-size: 0.9rem;
  }
}
@media (width >= 800px) {
  header {
    position: sticky;
    bottom: 100%;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-right: 1rem;
    padding-left: 1rem;
  }
  header #mobile-menu {
    display: none;
  }
  header #mobile-menu-btn {
    display: none;
  }
  header .desktop-menu ul {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    gap: 5px;
  }
  header .desktop-menu ul li {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    padding: 0.5rem 1rem;
    border: 1px solid transparent;
    border-radius: 15px 15px 0 0;
  }
}